@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 98.5vh;
}

body {
   background-color: beige !important;
    font-family: 'Roboto Mono', monospace !important;  
 }
